.main {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    padding-bottom: 50px;
    .container {
        width: 1400px;
        height: 800px;
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        color: rgb(235, 235, 235);
        font-size: 30px;
        font-weight: 500;
        .imageContainer {
            position: relative;
            img {
                height: 500px;
                border-radius: 10px;
            }
            .folder {
                position: absolute;
                padding: 8px 12px;
                background-color: rgba(65, 65, 65, 0.8);
                top: -12px;
                right: -20px;
                width: fit-content;
                height: fit-content;
                font-size: 15px;
                font-family: 'Instrument Sans';
                font-weight: 400;
                border-radius: 15px;
                backdrop-filter: blur(15px);
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 4px;
                span {
                    transform: scale(0.85);
                }
            }
        }
        .infoContainer {
            display: flex;
            flex-direction: column;
            row-gap: 12px;
            width: fit-content;
            max-width: 900px;
            height: fit-content;
            align-items: center;
            text-align: center;
            .buttons {
                margin-top: 25px;
                display: flex;
                width: 355px;
                height: fit-content;
                justify-content: space-between;
                .button {
                    display: flex;
                    gap: 7px;
                    justify-content: center;
                    align-items: center;
                    font-family: 'Instrument Sans';
                    font-size: 17px;
                    font-weight: 500;
                    height: 50px;
                    width: 170px;
                    border-radius: 12px;
                    margin-bottom: 25px;
                    transition: all 0.1s ease-in-out;
                }
                .delete {
                    color: rgb(255, 134, 123);
                    background-color: rgb(94, 30, 34)
                    
                }
                .save {
                    background-color: var(--blue);
                    color: rgb(9, 21, 36);
                }
                .button:hover {
                    transform: translateY(-1px);
                    cursor: pointer;
                    box-shadow: 0 10px 15px 1px rgba(0, 0, 0, 0.351);
                }
            }
        }
    }
}

.full-width {
    width: 600px;
}