<div class="main">
    <div class="container">

        <div class="heading unrevealed">
            <span class="material-symbols-rounded">folder</span>Browse folders:
        </div>
        <div *ngIf="this.home.Folders" class="folderContainer unrevealed" style="margin-bottom: 50px">
            <div class="itemContainer unrevealed" *ngFor="let folder of this.home.Folders" routerLink='/folders/{{folder}}'>
                <div class="imageContainer">
                    <img src="/assets/folder.png" alt="">
                </div>
                <div class="title">{{folder}}</div>
                <div class="menu"><span class="material-symbols-rounded"
                        routerLink='/folders/edit/{{folder}}'>more_vert</span></div>
            </div>
            <div class="viewAllButton unrevealed" routerLink='/folders'>View all <span
                    class="material-symbols-rounded">arrow_right_alt</span></div>
        </div>
        <div *ngIf="!this.home.Folders && loaded" class="cardContainerHelper unrevealed" id="noContent1">
            <div class="folderContainer">
                <div class="noContent">
                    <div class="container2">
                        <div class="headingContainer">
                            <div class="title"><span class="material-symbols-rounded icon">folder_off</span>No folders
                                created yet.</div>
                            <div class="smallTitle">Create your first one <span class="link"
                                    routerLink='/folder/create'>here<span
                                        class="material-symbols-rounded icon2">arrow_outward</span></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="heading unrevealed">
            <span class="material-symbols-rounded">visibility</span>Recently Viewed:
        </div>
        <div *ngIf="this.home.RecentlyViewed" class="cardContainerHelper unrevealed" id="recentlyViewedContainer">
            <div class="card cardRV unrevealed" *ngFor="let pdf of this.home.RecentlyViewed" routerLink='/pdf/view/{{pdf.Uuid}}'>
                <div class="cardContent">
                    <div class="image">
                        <img class="thumbnail" src='data:image/jpeg;base64,{{pdf.Image}}' alt="">
                    </div>
                    <div class="infoContent">
                        <div *ngIf="pdf.Title" class="title">{{pdf.Title}}</div>
                        <div *ngIf="!pdf.Title" class="titleEmpty" style="opacity: 0.25">Title missing</div>
                        <div *ngIf="pdf.Author" class="author">{{pdf.Author}}</div>
                        <div *ngIf="!pdf.Author" class="authorEmpty" style="opacity: 0.25">Author(s) missing</div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!this.home.RecentlyViewed && loaded" class="cardContainerHelper unrevealed" id="noContent2">
            <div class="folderContainer">
                <div class="noContent">
                    <div class="container2">
                        <div class="headingContainer">
                            <div class="title"><span class="material-symbols-rounded icon">scan_delete</span>No PDFs
                                viewed yet.</div>
                            <div class="smallTitle">View your first PDF <span class="link" routerLink='/all'>here<span
                                        class="material-symbols-rounded icon2">arrow_outward</span></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="heading unrevealed">
            <span class="material-symbols-rounded">upload</span>Recently Uploaded:
        </div>
        <div *ngIf="this.home.RecentlyUploaded" class="cardContainerHelper unrevealed" id="recentlyUploadedContainer">
            <div class="card cardRU unrevealed" *ngFor="let pdf of this.home.RecentlyUploaded" routerLink='/pdf/view/{{pdf.Uuid}}'>
                <div class="cardContent">
                    <div class="image">
                        <img class="thumbnail" src='data:image/jpeg;base64,{{pdf.Image}}' alt="">
                    </div>
                    <div class="infoContent">
                        <div *ngIf="pdf.Title" class="title">{{pdf.Title}}</div>
                        <div *ngIf="!pdf.Title" class="titleEmpty" style="opacity: 0.25">Title missing</div>
                        <div *ngIf="pdf.Author" class="author">{{pdf.Author}}</div>
                        <div *ngIf="!pdf.Author" class="authorEmpty" style="opacity: 0.25">Author(s) missing</div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!this.home.RecentlyUploaded && loaded" class="cardContainerHelper unrevealed" id="noContent3">
            <div class="folderContainer">
                <div class="noContent">
                    <div class="container2">
                        <div class="headingContainer">
                            <div class="title"><span class="material-symbols-rounded icon">scan_delete</span>No PDFs
                                uploaded yet.</div>
                            <div class="smallTitle">Upload your first one <span class="link"
                                    routerLink='/upload'>here<span
                                        class="material-symbols-rounded icon2">arrow_outward</span></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>