<!--
Wenn PDF geupdated wurde, animation im header anzeigen mit "File Uploaded Successfully" mit gelben farben wie der edit button (oder grün für success)
-->
<div class="main">
    <div *ngIf="loaded" class="container">
        <div class="imageContainer">
            <img class="card" src='data:image/jpeg;base64,{{pdf.Image}}' alt="">
            <div *ngIf="this.pdf.Folder" class="imageButton folder" routerLink='/folders/{{this.pdf.Folder}}'><span class="material-symbols-rounded">folder</span>{{this.pdf.Folder}}</div>
            <div class="imageButton edit" routerLink="/pdf/edit/{{pdf.Uuid}}"><span class="material-symbols-rounded">edit</span></div>
        </div>
        <div class="infoContainer">
            <div *ngIf="pdf.Title" class="title">{{pdf.Title}}</div>
            <div *ngIf="!pdf.Title" class="title missing">Title missing</div>
            <div *ngIf="pdf.Author" class="author" routerLink="/pdfs/author/{{pdf.Author}}">{{pdf.Author}}</div>
            <div *ngIf="!pdf.Author" class="author missing">Author(s) missing</div>
            <div *ngIf="pdf.Tags" class="tagsContainer">
                <div routerLink="/pdfs/tag/{{tag}}" class="tag" *ngFor="let tag of pdf.Tags">{{tag}}</div>
            </div>
            <div class="pagesAndSize">{{pdf.NumPages}} Pages, {{(pdf.Size!/1000000).toFixed(2)}} MB</div>
            <div class="date">Creation Date: {{this.formatDate(pdf.CreationDate!)}}</div>
            <div class="date">Upload Date: {{this.formatDate(pdf.UploadDate!)}}</div>
            <div class="buttons">
                <div class="button read" (click)="getPdf(1)">Read<span class="material-symbols-rounded">menu_book</span></div>
                <div class="button download" (click)="getPdf(2)">Download<span class="material-symbols-rounded">download</span></div>
            </div>
        </div>
    </div>

    <div *ngIf="!loaded" class="container">
        <div class="imageContainer">
            <div class="skeletonImage"></div>
        </div>
        <div class="infoContainer">
            <div class="skeletonTitle"></div>
            <div class="skeletonAuthor"></div>
            <div class="tagsContainer">
               <div class="skeletonTag"></div>
               <div class="skeletonTag"></div>
            </div>
            <div class="skeletonPagesAndSize"></div>
            <div class="skeletonDate"></div>
            <div class="skeletonDate"></div>
            <div class="buttons">
                <div class="button read" (click)="getPdf(1)">Read<span class="material-symbols-rounded">menu_book</span></div>
                <div class="button download" (click)="getPdf(2)">Download<span class="material-symbols-rounded">download</span></div>
            </div>
        </div>
    </div>
</div>
