<div class="loaderContainer" id="loaderContainer">
  <div class="spinner" id="spinner">
    <mat-spinner></mat-spinner>
  </div>
  <div class="spinner" id="check">
    <span class="material-symbols-rounded">check_circle</span>
  </div>
  <div class="spinner" id="error">
    <span class="material-symbols-rounded">error</span>
  </div>
  <div class="errorMessage" id="errorMessage">
    This file already exists on the server!
  </div>
</div>

  <div class="container">
    <div class="uploadContainer">
      <input multiple type="file" class="file-input" accept=".pdf" (change)="onFileSelected($event)" #fileUpload>
      <div class="file-upload">
        {{fileName || "Select one or multiple files to upload."}}
        <div *ngIf="!uploading" class="uploadButton" (click)="fileUpload.click()">Select Files</div>
      </div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Tags</mat-label>
        <mat-chip-grid #chipGrid aria-label="Enter tags">
          <mat-chip-row *ngFor="let tag of tags" (removed)="removeTag(tag)">
            {{tag}}
            <button matChipRemove aria-label="'remove ' + tag">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>
        <input placeholder="New tag (Press Enter to add)"
               [matChipInputFor]="chipGrid"
               (matChipInputTokenEnd)="add($event)"/>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Folder</mat-label>
        <input type="text"
               placeholder="Select a folder"
               aria-label="Folder"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let folder of filteredFolders | async" [value]="folder">
            {{folder}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div *ngIf="!uploading" class="uploadButton" (click)="uploadFiles()">Upload</div>
      <div class="fileNameContainer">
        <div class="fileName" *ngFor="let pdf of this.pdfFiles">{{pdf.name}}</div>
      </div>
    </div>
  </div>