.file-input {
    display: none;
}

.progressBarContainer {
    position: fixed;
    width: 100%;
    height: fit-content;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
    z-index: 101;
    .progressBarBackground {
        width: 718px;
        height: 64px;
        border-radius: 25px;
        display: flex;
        align-items: flex-start;
        align-items: center;
        justify-content: space-between;
        transition: all 0.25s;
        overflow: hidden;
        .progressBar {
            height: 100%;
            border-radius: 0px;
            transition: all 0.25s;
            background-color: rgba(193, 255, 154, 0.12);
        }
    }
}

.loaderContainer {
    z-index: 200;
    position: fixed;
    top: 25px;
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    user-select: none;
    pointer-events: none;
    transition: all 0.25s;
    animation-timing-function: cubic-bezier(0.74, -0.01, 0.26, 1.04);
}

.loaderContainer.active {
    user-select: initial;
    pointer-events: initial;
}

.spinner.active {
    opacity: 1;
    user-select: initial;
    pointer-events: initial;
    transform: scale(1);
    transition: all 0.25s ease-in-out;
}

#check.active {
    opacity: 1;
    user-select: initial;
    pointer-events: initial;
    transform: scale(1);
    transition: all 0.25s ease-in-out;
    transform: scale(1.2);
}

#error.active {
    opacity: 1;
    user-select: initial;
    pointer-events: initial;
    transform: scale(1);
    transition: all 0.25s ease-in-out;
    transform: scale(1.2);
}

#spinner {
    transform: scale(0.8);
}

#check {
    transform: scale(1.2);
}

#error {
    transform: scale(1.2);
    color: rgb(255, 70, 70);
}

#message {
    font-family: "Instrument Sans";
    font-weight: 500;
    font-size: 18px;
    color: rgb(235, 235, 235);
    opacity: 0;
    transform: scale(0.98);
    user-select: none;
    pointer-events: none;
    transition: all 0.25s ease-in-out;
}

#message.active {
    opacity: 1;
    transform: scale(1);
    user-select: initial;
    pointer-events: initial;
}

.spinner {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    color: rgb(255, 255, 255);
    font-family: "Instrument Sans";
    font-weight: 500;
    font-size: 16px;
    border-radius: 200px;
    display: flex;
    gap: 7px;
    transition: all 0.25s ease-in-out;
    transform: scale(0.8);
    opacity: 0;
    user-select: none;
    pointer-events: none;
    transform: scale(0.8);
}

.main {
    position: absolute;
    width: 100%;
    height: fit-content;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    top: 150px;
    .container {
        width: 725px;
        height: fit-content;
        padding: 75px 0px;
        background-color: rgb(33, 33, 33);
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        .headingContainer {
            height: fit-content;
            width: fit-content;
            display: flex;
            flex-direction: column;
            gap: 7px;
            align-items: center;
            .title {
                font-size: 28px;
                font-weight: 500;
                color: white;
                font-family: "Instrument Sans";
            }
            .smallTitle {
                font-size: 16px;
                font-weight: 400;
                color: rgba(255, 255, 255, 0.336);
                font-family: "Instrument Sans";
            }
        }
        .dropzone {
            width: 550px;
            height: 300px;
            background-color: var(--blueBG);
            background-color: rgb(40, 40, 40);
            display: flex;
            flex-direction: column;
            gap: 8px;
            border-radius: 20px;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-weight: 500;
            color: rgba(255, 255, 255, 0.75);
            border: 2px dashed var(--blue);
            transition: all 0.1s ease-in-out;
            .dropSmallText {
                font-size: 14px;
                font-weight: 400;
                color: rgba(255, 255, 255, 0.25);
            }
            .button {
                padding: 10px 20px;
                background-color: var(--blueBG);
                color: var(--blue);
                border-radius: 12px;
                font-size: 16px;
                font-weight: 500;
                transition: all 0.1s ease-in-out;
            }
            .button:hover {
                cursor: pointer;
                background-color: var(--blue);
                color: rgb(9, 21, 36);
            }
        }
        .dropzone:hover {
            background-color: var(--blueBG);
        }
        .filesSelected {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 20px;
            .numberOfFiles {
                font-size: 20px;
                font-weight: 500;
                color: white;
                font-family: "Instrument Sans";
            }
            .uploadButton {
                padding: 10px 30px;
                color: rgb(9, 21, 36);
                background-color: var(--blue);
                border-radius: 12px;
                font-size: 16px;
                font-weight: 500;
                transition: all 0.1s ease-in-out;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                transition: all 0.1s ease-in-out;
                span {
                    transform: scale(0.9);
                    transition: all 0.1s ease-in-out;
                }
            }
            .uploadButton:hover {
                span {
                    transform: scale(0.9) translateY(-2px);
                }
                cursor: pointer;
                filter: brightness(0.9);
            }
            .uploadButton.disabled {
                background-color: rgb(61, 74, 79);
                color: rgba(255, 255, 255, 0.482);
                opacity: 0.5;
                user-select: none;
                pointer-events: none;
            }
        }
    }
    .tagsAndFolder {
        display: flex;
        width: 510px;
        flex-direction: column;
        border-radius: 12px;
        justify-content: space-between;
        gap: 10px;
        .full-width {
            width: 100%;
        }
    }
    .tagsAndFolderContainer {
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
}

@media only screen and (max-width: 850px) {
    .main {
        top: 120px;
        .container {
            width: 425px;
            padding: 35px 0px;
            gap: 25px;
            .headingContainer {
                .title {
                    font-size: 24px;
                }
                .smallTitle {
                    font-size: 14px;
                }
            }
            .dropzone {
                width: 350px;
                height: 250px;
                font-size: 14px;
                .dropSmallText {
                    font-size: 12px;
                }
                .button {
                    padding: 8px 16px;
                    font-size: 14px;
                    font-weight: 500;
                }
            }
            .filesSelected {
                row-gap: 15px;
                .numberOfFiles {
                    font-size: 18px;
                }
                .uploadButton {
                    font-size: 14px;
                }
            }
        }
        .tagsAndFolder {
            display: flex;
            width: 350px;
            flex-direction: column;
            border-radius: 12px;
            justify-content: space-between;
            gap: 10px;
            .full-width {
                width: 100%;
                font-size: 14px;
            }
        }
        .tagsAndFolderContainer {
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;
        }
    }
    #errorMessage {
        font-weight: 500;
        font-size: 14px;
    }
}
