<div class="headerContainer">
    <header id="header">
        <div class="nav">
            <div class="navItem navItemSelected" (click)="setActiveNav(0)" routerLink="/">View All<span class="material-symbols-rounded">grid_view</span></div>
            <!--<div class="navItem" (click)="setActiveNav(1)">Search<span class="material-symbols-rounded">search</span></div>-->
            <div class="navItem" (click)="setActiveNav(1)" routerLink="/upload">Upload<span class="material-symbols-rounded">upload</span></div>
            <div class="navItem" (click)="setActiveNav(2)">Profile<span class="material-symbols-rounded">person</span></div>
        </div>
    </header>
</div>



