<div class="headerContainer">
    <header id="header">
        <div class="nav">
            <div class="navItem" routerLink="/">Home<span class="material-symbols-rounded">home</span></div>
            <div class="navItem" routerLink="/all">View All<span class="material-symbols-rounded">view_module</span></div>
            <div class="navItem" (click)="reduce()">Search<span class="material-symbols-rounded">search</span></div>
            <div class="navItem" routerLink="/upload">Upload<span class="material-symbols-rounded">upload</span></div>
            <div class="navItem">Categories<span class="material-symbols-rounded">folder</span></div>
        </div>
    </header>
</div>



