.cardContainer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    top: 115px;
}

.cardContainerHelper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: fit-content;
    max-width: 90%;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
    width: 250px;
    background-color: rgb(43, 43, 43);
    border-radius: 10px;
    box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.051);
    overflow: hidden;
    transition: all 0.1s ease-in-out;
    .cardContent {
        position: relative;
        margin-top: 7px;
        margin-bottom: 10px;
        width: 235px;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        row-gap: 10px;
        .image {
            width: 100%;
            height: fit-content;
            img {
                position: relative;
                width: 100%;
                height: auto;
                object-fit: contain;
            }
            .thumbnail {
                z-index: 2;
                border-radius: 8px;
                transition: all 0.1s ease-in-out;
            }
        }
        .infoContent {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            max-width: calc(100% - 20px);
            margin-left: 5px;
            .title {
                font-family: 'Instrument Sans';
                font-size: 16px;
                color: rgb(235, 235, 235);
                font-weight: 600;
                overflow-wrap: break-word;
                transition: all 0.15s ease-in-out;
            }
            .titleEmpty {
                font-family: 'Instrument Sans';
                font-size: 16px;
                color: rgb(235, 235, 235);
                font-weight: 500;
                overflow-wrap: break-word;
                transition: all 0.15s ease-in-out;
            }
            .author {
                font-family: 'Instrument Sans';
                font-size: 13px;
                color: rgba(235, 235, 235, 0.5);
                font-weight: 400;
                transition: all 0.15s ease-in-out;
            }
            .authorEmpty {
                font-family: 'Instrument Sans';
                font-size: 13px;
                color: rgba(235, 235, 235, 0.5);
                font-weight: 400;
                transition: all 0.15s ease-in-out;
            }
        }
    }
}

.card:hover {
    background-color: #3f3f3f;
    box-shadow: 0 4px 20px 10px rgba(0, 0, 0, 0.451);
    z-index: 90;
    .thumbnail {
        transform: translateY(-2px);
        cursor: pointer;
    }
    .title {
        cursor: pointer;
    }
    .titleEmpty {
        cursor: default !important;
    }
    .author {
        cursor: pointer;
    }
    .authorEmpty {
        cursor: default !important;
    }
}

.pbwidth {
    width: 300px;
    height: 40px;
}

.navItemHidden {
    opacity: 0 !important;
    user-select: none !important;
    pointer-events: none !important;
}

.itemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 120px;
    background-color: #212121;
    border-radius: 12px;
    transition: all 0.1s ease-in-out;
    .itemContent {
        display: flex;
        width: 980px;
        height: 100px;
        border-radius: 12px;
        .imageContainer {
            display: flex;
            position: relative;
            height: 100%;
            aspect-ratio: 1/1.41;
            border-radius: 7px;
            overflow: hidden;
            img {
                object-fit: contain;
            }
        }
        .itemInfo {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            width: 890px;
            border-radius: 12px;
            margin-left: 15px;
            margin-right: 10px;
            .titleAuthorContainer {
                display: flex;
                flex-direction: column;
                margin-top: 5px;
                width: 100%;
                height: 55px;
                .title {
                    overflow: hidden;
                    line-height: 30px;
                    height: 60%;
                    max-width: 890px;
                    font-family: 'Instrument Sans';
                    font-weight: 600;
                    font-size: 20px;
                    color: rgb(235, 235, 235);
                }
                .author {
                    height: 40%;
                    width: 100%;
                    font-family: 'Instrument Sans';
                    font-weight: 500;
                    font-size: 13px;
                    color: white;
                    opacity: 0.5;
                }
            }
            .tagsContainer {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                column-gap: 7px;
                width: 890px;
                height: 25px;
                margin-bottom: 8px;
                overflow: hidden;
                .tag {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: fit-content;
                    padding: 0 12px;
                    height: 25px;
                    background-color: rgb(14, 14, 14);
                    border-radius: 12px;
                    font-family: 'Instrument Sans';
                    font-weight: 500;
                    font-size: 12px;
                    color: rgb(228, 228, 228);
                }
            }
        }
    }
}

.itemContainer:hover {
    cursor: pointer;
    background-color: #343434;
}

.viewModeContainer {
    z-index: 200;
    position: fixed;
    top: 25px;
    right: calc(50% - 450px);
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.viewMode {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 64px;
    background-color: rgba(35, 35, 35, 0.7);
    backdrop-filter: saturate(180%) blur(20px);
    box-shadow: 0 5px 25px 10px rgba(0, 0, 0, 0.25);
    color: rgb(255, 255, 255);
    font-family: 'Instrument Sans';
    font-weight: 500;
    font-size: 16px;
    border-radius: 25px;
    display: flex;
    gap: 7px;
    transition: all 0.1s ease-in-out;
    }

.viewMode:hover {
    cursor: pointer;
    color: var(--blue);
}

.paginator {
    background-color: transparent;
    margin-top: 25px;
    transform: scale(1.2);
}

.skeletonCard {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 250px;
    background-color: rgb(43, 43, 43);
    border-radius: 10px;
    box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.051);
    overflow: hidden;
    transition: all 0.1s ease-in-out;
    .skeletonCardContent {
        position: relative;
        margin-top: 7px;
        margin-bottom: 10px;
        width: 235px;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        row-gap: 10px;
        .skeletonImage {
            position: relative;
            overflow: hidden;
            height: 310px;
            width: 235px;
            background-color: var(--skeleton);
            border-radius: 8px;
            &::after {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                transform: translateX(-100%);
                opacity: var(--skeletonOpacity);
                filter: var(--skeletonFilter);
                background-image: linear-gradient(
                  90deg,
                  rgba(rgba(255, 255, 255), 0) 0,
                  rgba(rgba(255, 255, 255), 0.1) 20%,
                  rgba(rgba(255, 255, 255), 0.2) 60%,
                  rgba(rgba(255, 255, 255), 0)
                );
                animation: shimmer 1s infinite ease-in-out;
                content: '';
              }
        }
    }
    .skeletonInfoContent {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 10px;
        width: 230px;
        margin-left: 0px;
        margin-top: 5px;
    }
    .skeletonTitle {
        position: relative;
        overflow: hidden;
        width: 200px;
        height: 25px;
        border-radius: 10px;
        background-color: var(--skeleton);
        &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform: translateX(-100%);
            opacity: var(--skeletonOpacity);
            filter: var(--skeletonFilter);
            background-image: linear-gradient(
              90deg,
              rgba(rgba(255, 255, 255), 0) 0,
              rgba(rgba(255, 255, 255), 0.05) 20%,
              rgba(rgba(255, 255, 255), 0.1) 60%,
              rgba(rgba(255, 255, 255), 0)
            );
            animation: shimmer 1s infinite ease-in-out;
            content: '';
          }
    }
    .skeletonAuthor {
        position: relative;
        overflow: hidden;
        width: 150px;
        height: 20px;
        border-radius: 8px;
        background-color: var(--skeleton);
        margin-bottom: 10px;
        &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform: translateX(-100%);
            opacity: var(--skeletonOpacity);
            filter: var(--skeletonFilter);
            background-image: linear-gradient(
              90deg,
              rgba(rgba(255, 255, 255), 0) 0,
              rgba(rgba(255, 255, 255), 0.1) 20%,
              rgba(rgba(255, 255, 255), 0.2) 60%,
              rgba(rgba(255, 255, 255), 0)
            );
            animation: shimmer 1s infinite ease-in-out;
            content: '';
          }
    }
}

.skeletonContainer {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 120px;
    background-color: #212121;
    border-radius: 12px;
    transition: all 0.1s ease-in-out;
    .skeletonContent {
        display: flex;
        width: 980px;
        height: 100px;
        border-radius: 12px;
        .skeletonImageContainer {
            position: relative;
            overflow: hidden;
            display: flex;
            position: relative;
            height: 100%;
            aspect-ratio: 1/1.41;
            border-radius: 7px;
            overflow: hidden;
            background-color: var(--skeleton);
            &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform: translateX(-100%);
            opacity: var(--skeletonOpacity);
            filter: var(--skeletonFilter);
            background-image: linear-gradient(
              90deg,
              rgba(rgba(255, 255, 255), 0) 0,
              rgba(rgba(255, 255, 255), 0.1) 20%,
              rgba(rgba(255, 255, 255), 0.2) 60%,
              rgba(rgba(255, 255, 255), 0)
            );
            animation: shimmer 1s infinite ease-in-out;
            content: '';
          }
        }
        .skeletonItemInfo {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            width: 890px;
            border-radius: 12px;
            margin-left: 15px;
            margin-right: 10px;
            .skeletonTitleAuthorContainer {
                display: flex;
                flex-direction: column;
                margin-top: 5px;
                width: 100%;
                height: 55px;
                gap: 10px;
                .skeletonTitle {
                    position: relative;
                    overflow: hidden;
                    height: 50%;
                    width: 600px;
                    background-color: var(--skeleton);
                    border-radius: 10px;
                    &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform: translateX(-100%);
            opacity: var(--skeletonOpacity);
            filter: var(--skeletonFilter);
            background-image: linear-gradient(
              90deg,
              rgba(rgba(255, 255, 255), 0) 0,
              rgba(rgba(255, 255, 255), 0.1) 20%,
              rgba(rgba(255, 255, 255), 0.2) 60%,
              rgba(rgba(255, 255, 255), 0)
            );
            animation: shimmer 1s infinite ease-in-out;
            content: '';
          }
                }
                .skeletonAuthor {
                    position: relative;
                    overflow: hidden;
                    height: 30%;
                    width: 400px;
                    background-color: var(--skeleton);
                    border-radius: 7px;
                    &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform: translateX(-100%);
            opacity: var(--skeletonOpacity);
            filter: var(--skeletonFilter);
            background-image: linear-gradient(
              90deg,
              rgba(rgba(255, 255, 255), 0) 0,
              rgba(rgba(255, 255, 255), 0.1) 20%,
              rgba(rgba(255, 255, 255), 0.2) 60%,
              rgba(rgba(255, 255, 255), 0)
            );
            animation: shimmer 1s infinite ease-in-out;
            content: '';
          }
                }
            }
            .skeletonTagsContainer {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                column-gap: 7px;
                width: 890px;
                height: 25px;
                margin-bottom: 8px;
                overflow: hidden;
                .skeletonTag {
                    position: relative;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50px;
                    padding: 0 12px;
                    height: 25px;
                    background-color: var(--skeleton);
                    border-radius: 12px;
                    &::after {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        transform: translateX(-100%);
                        opacity: var(--skeletonOpacity);
                        filter: var(--skeletonFilter);
                        background-image: linear-gradient(
                        90deg,
                        rgba(rgba(255, 255, 255), 0) 0,
                        rgba(rgba(255, 255, 255), 0.1) 20%,
                        rgba(rgba(255, 255, 255), 0.2) 60%,
                        rgba(rgba(255, 255, 255), 0)
                        );
                        animation: shimmer 1s infinite ease-in-out;
                        content: '';
                    }
                }
            }
        }
    }
}

@keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
}



