<!--
    bei suche, nav items in header ausblenden und header zu einer suchleiste machen
    scroll indicator in header (ganz subtil ohne farbe)
-->
<div class="viewModeContainer">
    <div *ngIf="listView" class="viewMode" (click)="listView = !listView"><span class="material-symbols-rounded">view_module</span></div>
    <div *ngIf="!listView" class="viewMode" (click)="listView = !listView"><span class="material-symbols-rounded">view_list</span></div>
</div>

<div class="cardContainer">
    <div *ngIf="listView" class="cardContainerHelper">
        <div class="itemContainer" *ngFor="let pdf of pdfs.Previews; let i = index" routerLink='/pdf/view/{{pdf.Uuid}}'>
            <div class="itemContent">
                <div class="imageContainer">
                    <img src='data:image/jpeg;base64,{{pdf.Image}}' alt="">
                </div>
                <div class="itemInfo">
                    <div class="titleAuthorContainer">
                        <div *ngIf="pdf.Title" class="title">{{pdf.Title}}</div>
                        <div *ngIf="!pdf.Title" class="title" style="opacity: 0.25">Title missing: <button class="addButton">Add +</button> </div>
                        <div *ngIf="pdf.Author" class="author">{{pdf.Author}}</div>
                        <div *ngIf="!pdf.Author" class="author" style="opacity: 0.25">Author(s) missing: <button class="addButton">Add +</button> </div>
                    </div>
                    <div class="tagsContainer">
                        <div class="tag">{{pdf.NumPages}} Pages</div>
                        <div class="tag">{{(pdf.Size/1000000).toFixed(2)}} MB</div>
                        <div class="tag" *ngFor="let tag of pdf.Tags">{{tag}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!listView" class="cardContainerHelper">
        <div class="card" *ngFor="let pdf of pdfs.Previews; let i = index" routerLink='/pdf/view/{{pdf.Uuid}}'>
            <div class="cardContent">
                <button class="editButton">Edit</button>
                <div class="image">
                    <img class="thumbnail" src='data:image/jpeg;base64,{{pdf.Image}}' alt="">
                </div>
                <div class="infoContent">
                    <div *ngIf="pdf.Title" class="title">{{pdf.Title}}</div>
                    <div *ngIf="!pdf.Title" class="titleEmpty" style="opacity: 0.25">Title missing: <button class="addButton">Add +</button> </div>
                    <div *ngIf="pdf.Author" class="author">{{pdf.Author}}</div>
                    <div *ngIf="!pdf.Author" class="authorEmpty" style="opacity: 0.25">Author(s) missing: <button class="addButton">Add +</button> </div>
                </div>
            </div>
        </div>
    </div>

    <mat-paginator class="paginator"
                 [length]="totalPages"
                 [pageSize]="pageSize"
                 [pageIndex]="currentPage"
                 [showFirstLastButtons]="true"
                 (page)="onPageChange($event)"
  ></mat-paginator>

</div>