<div class="viewModeContainer">
    <div *ngIf="listView" class="viewMode" (click)="toggleGridView()"><span
            class="material-symbols-rounded">view_module</span></div>
    <div *ngIf="!listView" class="viewMode" (click)="toggleListView()"><span
            class="material-symbols-rounded">view_list</span></div>
</div>

<div *ngIf="loaded" class="cardContainer">
    <div *ngIf="listView" class="cardContainerHelper">
        <div class="itemContainer unrevealed" *ngFor="let pdf of pdfs.Previews; let i = index" routerLink='/pdf/view/{{pdf.Uuid}}'>
            <div class="itemContent">
                <div class="imageContainer">
                    <img src='data:image/jpeg;base64,{{pdf.Image}}' alt="">
                </div>
                <div class="itemInfo">
                    <div class="titleAuthorContainer">
                        <div *ngIf="pdf.Title" class="title">{{pdf.Title}}</div>
                        <div *ngIf="!pdf.Title" class="title" style="opacity: 0.25">Title missing</div>
                        <div *ngIf="pdf.Author" class="author">{{pdf.Author}}</div>
                        <div *ngIf="!pdf.Author" class="author" style="opacity: 0.25">Author(s) missing</div>
                    </div>
                    <div class="tagsContainer">
                        <div class="tag">{{pdf.NumPages}} Pages</div>
                        <div class="tag">{{(pdf.Size/1000000).toFixed(2)}} MB</div>
                        <div routerLink="/pdfs/tag/{{tag}}" class="tag" *ngFor="let tag of pdf.Tags">{{tag}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!listView" class="cardContainerHelper">
        <div class="card unrevealed" *ngFor="let pdf of pdfs.Previews; let i = index" routerLink='/pdf/view/{{pdf.Uuid}}'>
            <div class="cardContent">
                <div class="image">
                    <img class="thumbnail" src='data:image/jpeg;base64,{{pdf.Image}}' alt="">
                </div>
                <div class="infoContent">
                    <div *ngIf="pdf.Title" class="title">{{pdf.Title}}</div>
                    <div *ngIf="!pdf.Title" class="titleEmpty" style="opacity: 0.25">Title missing</div>
                    <div *ngIf="pdf.Author" class="author">{{pdf.Author}}</div>
                    <div *ngIf="!pdf.Author" class="authorEmpty" style="opacity: 0.25">Author(s) missing</div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="this.totalPages == 0" class="noContent unrevealed">
        <div class="container">
            <div class="headingContainer">
                <div class="title"><span class="material-symbols-rounded icon">scan_delete</span>No files uploaded yet.</div>
                <div class="smallTitle">Upload your first ones <span class="link" routerLink='/upload'>here<span class="material-symbols-rounded icon2">arrow_outward</span></span></div>
            </div>
        </div>
    </div>

    <mat-paginator *ngIf="this.pdfs.TotalCount > 48" class="paginator" [length]="totalPages" [pageSize]="pageSize"
        [hidePageSize]="true" [pageIndex]="currentPage" [showFirstLastButtons]="true" (page)="onPageChange($event)">
    </mat-paginator>
</div>

<div *ngIf="!loaded" class="cardContainer">
    <div *ngIf="listView" class="cardContainerHelper">
        <div class="skeletonContainer" *ngFor="let skeleton of skeletons; let i = index">
            <div class="skeletonContent">
                <div class="skeletonImageContainer"></div>
                <div class="skeletonItemInfo">
                    <div class="skeletonTitleAuthorContainer">
                        <div class="skeletonTitle"></div>
                        <div class="skeletonAuthor"></div>
                    </div>
                    <div class="skeletonTagsContainer">
                        <div class="skeletonTag"></div>
                        <div class="skeletonTag"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!listView" class="cardContainerHelper">
        <div class="skeletonCard" *ngFor="let skeleton of skeletons; let i = index">
            <div class="skeletonCardContent">
                <div class="skeletonImage"></div>
            </div>
            <div class="skeletonInfoContent">
                <div class="skeletonTitle"></div>
                <div class="skeletonAuthor"></div>
            </div>
        </div>
    </div>

    <mat-paginator *ngIf="this.pdfs.TotalCount > 48" class="paginator" [length]="totalPages" [pageSize]="pageSize"
        [hidePageSize]="true" [pageIndex]="currentPage" [showFirstLastButtons]="true" (page)="onPageChange($event)">
    </mat-paginator>
</div>